kestra_orchestrator/flows/02_gcp_bikeshare.yaml
id: 02_gcp_bikeshare
namespace: bikeshare

variables:
  data: "ridershipdata_2023"
  uri: "https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/7e876c24-177c-4605-9cef-e50dd74c617f/resource/f0fa6a67-4571-4dd6-9d5a-df010ebed7d1/download/bikeshare-ridership-2023.zip"

tasks:
  - id: download
    type: "io.kestra.plugin.core.http.Download"
    uri: "{{ vars.uri }}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - bikeshare-ridership-2023/*.csv
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - unzip {{ outputs.download.uri }}
      - |
        for f in bikeshare-ridership-2023/*.csv; do
          newname=$(echo "$f" | tr ' ' '_')
          mv "$f" "$newname"
        done

  - id: load_csvs
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.extract.outputFiles | values }}"
    tasks:
    - id: upload_to_gcs
      type: io.kestra.plugin.gcp.gcs.Upload
      from: "{{ taskrun.value }}"
      to: "gs://tbikeshare/{{ vars.data }}/{{ taskrun.value | split('/') | last }}"

  
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

    
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
